.container {
  width: 96% !important;
}

.category-name {
  font-size: 16pt;
  margin-bottom: 0;
  display: inline-block;
  width: 90%;
}

.category-more-btn {
  display: inline-block;
  width: 10%;
  margin-top: 2px !important;
}

.row-fluid {
  overflow: auto;
  white-space: nowrap;
  clear: both;
}

.item-card {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  width: 144px;
  height: 168px;
}

.book-title-bg {
  position: absolute;
  width: 100%;
  height: 36px;
  margin-top: 132px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 13, 0.01)), to(rgba(0, 0, 13, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 13, 0.01), rgba(0, 0, 13, 0.7));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 13, 0.01), rgba(0, 0, 13, 0.7));
  background-image: linear-gradient(to bottom, rgba(0, 0, 13, 0.01), rgba(0, 0, 13, 0.7));
}

.book-title-bg:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.book-title {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
}

.book-title:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  margin-bottom: -12px;
  margin-left: 8px;
}

.more-btn {
  position: absolute;
  width: 100%;
  height: 100%;
}

.more-btn:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  margin-left: 124px;
  margin-bottom: -4px;
}

.item-link {
  position: absolute;
  width: 100%;
  height: 132px;
}

.item-link:before {
  content: '';
  display: inline-block;
  height: 100%;
}

.book-cover {
  display: block;
  object-fit: cover;
  width: 144px;
  height: 168px;
}

.category-more-card {
  /*font-size: 36px !important;*/
  /*text-align: center;*/
}