<div class="container">
  <div ng-repeat="category in $ctrl.categories track by $index">
    <!--Category name-->
    <div>
      <div class="category-name amber-text">{{category.category}}</div>
      <a class="amber-text caregory-more-btn"><i class="material-icons">expand_more</i></a>
    </div>
    <!--End Category name-->
    <!--Books-->
    <div class="row-fluid">
      <div class="col s5 item-card" ng-repeat="book in category.data_book track by $index" ui-sref="showReviews({ bookId: book.id })">
        <span class="book-title-bg"></span>
        <span class="book-title white-text">{{book.name}}</span>
        <span class="more-btn"><a href=""><i>
        <img src="images/more-card.jpg" class="z-depth-1 book-cover"></img>
      </div>
      <!--End Books-->
    </div>
  </div>
</div>
