<center>
  <div class="z-depth-1 grey lighten-4 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <form class="col s12" ng-submit="$ctrl.loginUser($ctrl.email,$ctrl.password)">
      <div class="row">
        <div class="input-field col s12 left">
          <img src="images/logo.png" alt="" class="responsive-img circle" style="max-height:60px; vertical-align: middle">
          <span class="center login-form-text">BookWorm Login</span>
        </div>
      </div>
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>
      <div class="row">
        <p class="red">{{$ctrl.errors}}</p>
      </div>
      <div class='row'>
        <div class='input-field col s12 left-align'>
          <input id="icon_prefix" type="text" class="validate" ng-model="$ctrl.email" required="true">
          <label for="icon_prefix" class="right">Username</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12 left-align'>
          <input class='validate' type='password' name='password' id='password' ng-model="$ctrl.password" required="true" />
          <label for='password'>Password</label>
        </div>
        <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
              </label>
      </div>

      <br />
      <center>
        <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
      </center>
    </form>
  </div>
  <a href="/register">Chưa có tài khoản? Tạo tài khoản</a>
</center>