<center class="container indigo white-text" style="width: 100% !important; max-width: 600px; height: calc(100vh - 45px)">
  <center>
    <form class="col s12" ng-submit="$ctrl.loginUser($ctrl.email,$ctrl.password)">
      <div class="row">
        <div class="input-field col s12 left">
          <img src="images/logo.png" alt="" class="responsive-img" style="max-height:90px; vertical-align: middle">
          <div class="center login-form-text">BookWorm</div>
          <h5>ĐĂNG NHẬP</h5>
        </div>
      </div>
      <div class="row">
        <p class="red">{{$ctrl.errors}}</p>
      </div>
      <div class='row'>
        <div class='input-field col s12 m6 l4'>
          <input id="username" type="text" class="validate grey-text text-lighten-4" ng-model="$ctrl.email" required="true">
          <label for="username">Tên người dùng</label>
        </div>
        <div class='input-field col s12 m6 l4'>
          <input class='validate grey-text text-lighten-4' type='password' name='password' id='password' ng-model="$ctrl.password"
            required="true">
          <label for='password'>Mật khẩu</label>
        </div>
        <div class="s12 m12 l12" style='clear:both'>
              <a class='pink-text' href='#!'><strong>Bạn quên mật khẩu?</strong></a>
          </div>
      </div>
      <center class="row">
        <button type='submit' name='btn_login' class='col s12 m6 offset-m3 l4 offset-l4 btn btn-large waves-effect amber'>Đăng nhập</button>
      </center>
    </form>
  </center>
  <a href="/register" style="margin: auto"><strong>Bạn chưa có tài khoản? Tạo tài khoản</strong></a>
</center>