<ul id="slide-out" class="side-nav indigo">
    <li>
        <div class="userView">
            <div class="background">
                <img src="http://materializecss.com/images/office.jpg">
            </div>
            <div ng-if="$ctrl.logined">
                <a href="/profile"><img class="circle" src="{{$ctrl.user.profile.avatar}}"></a>
                <span class="white-text name">{{ $ctrl.user.username }}             
            </div>
             <div ng-if="!$ctrl.logined">
                <a href="#user"><img class="circle" src="https://s-media-cache-ak0.pinimg.com/736x/8c/97/01/8c97016e31d00252b3bdb23eef034401.jpg"></a>
                <span class="white-text name">Guest              
            </div>           
        </div>
    </li>
    <li><a href="/" class="waves-effect white-text"><i class="fa fa-home fa-lg white-text" aria-hidden="true"></i>Trang chủ</a></li>
    <div ng-if="$ctrl.logined">
        <li><a href="/bookCases" class="waves-effect white-text"><i class="fa fa-book fa-lg white-text"></i>Kho sách</a></li>
        <li><a href="#!" class="waves-effect white-text"><i class="fa fa-heart fa-lg white-text" aria-hidden="true"></i>Sách yêu thích</a></li>
        <li><a href="/upload" class="waves-effect white-text" onclick="window.location.reload(true);"><i class="fa fa-pencil fa-lg white-text" aria-hidden="true"></i>Viết sách</a></li>
        <li><a href="/admin/categories" class="waves-effect white-text"><i class="fa fa-cogs fa-lg white-text"></i>Quản trị</a></li>
        <li><a href="/logout" class="waves-effect white-text"><i class="fa fa-sign-out fa-lg white-text" aria-hidden="true"></i>Đăng xuất</a></li>
    </div>
    </li>
    <div ng-if="!$ctrl.logined">
        <li><a href="/login/1" class="waves-effect white-text"><i class="fa fa-sign-in fa-lg white-text" aria-hidden="true"></i>Đăng nhập</a></li>
        <li><a href="/register" class="waves-effect white-text"><i class="fa fa-user-plus fa-lg white-text" aria-hidden="true"></i>Đăng ký</a></li>
    </div>
    <li>
        <div class="divider amber"></div>
    </li>
    <li><a class="subheader amber-text">Hỗ trợ</a></li>
    <li><a class="white-text" href="#!">Elliptic</a></li>
</ul>
<style>
.side-nav li>a>i {
    margin-right: 10px;
}
.side-nav li>a>i::after {
    content: "|";
    margin: 0 10px;
    color: #ffc107;
}
</style>