<navbar></navbar>
<div class="container">
  <div class="category-name amber-text">{{$ctrl.categoryName.name}}</div>
  <div class="item-card z-depth-1" ng-repeat="book in $ctrl.categoryId" ui-sref="showReviews({ bookId: book._id })" style="width: 30% !important; margin-top: 5px;">
    <span class="book-title amber-text truncate">{{book.name}}</span>
    <span class="item-more-btn"><a href=""><i class="material-icons amber-text">more_vert</i></a></span>
    <span class="item-link" ui-sref="showReviews({ bookId: book.id })"></span>
    <img ng-src="{{book.cover}}" alt="book-title" class="book-cover">
  </div>
</div>