<div class="container">
  <div class="category-name amber-text">{{$ctrl.categoryName.name}}</div>
  <div style="margin-left: 20px;">
    <div class="item-card z-depth-1" ng-repeat="book in $ctrl.categoryId" ui-sref="showReviews({ bookId: book._id })" style="width: 30% !important; margin-top: 5px;" ui-sref="showReviews({ bookId: book.id })">
      <span class="book-title amber-text truncate">{{book.name}}</span>
      <span class="item-more-btn"><a href=""><i class="material-icons amber-text">more_vert</i></a></span>
      <span class="item-link"></span>
      <img ng-src="{{book.cover}}" alt="book-title" class="book-cover">
    </div>
  </div>
  
</div>
